<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login no Sistema</title>
</head>
<body>
    
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {% for campo in form.visible_fields %}
            
            <div>

                <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>

                {{ campo }}
            
            </div>

        {% endfor %}

        <div>
            <button type="submit">Logar</button>
        </div>
    </form>

</body>
</html>